[Unit]
Description=AntiZapret VPN
After=network-online.target systemd-networkd.service
Wants=network-online.target
PartOf=systemd-networkd.service

[Service]
LimitNPROC=infinity
TasksMax=infinity
LimitNOFILE=infinity
WorkingDirectory=/root/antizapret
EnvironmentFile=/root/antizapret/setup
ExecStartPre=/root/antizapret/up.sh
ExecStart=/root/antizapret/proxy.py --ip-range ${FAKE_IP}.0.0/15
ExecStopPost=/root/antizapret/down.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target